<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>#TODO</title>

    <!-- style sheets -->
    <link href="static/styles/global.css" rel="stylesheet" type="text/css" />
    <link href="static/styles/index.css" rel="stylesheet" type="text/css" />

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/assets/favicon-16x16.png">
    <link rel="manifest" href="static/assets/site.webmanifest">
</head>

<body>

    <h1>Hello World!</h1>

</body>

</html>