<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>The Safe Way</title>

    <!-- style sheets -->
    <link href="static/styles/global.css" rel="stylesheet" type="text/css" />
    <link href="static/styles/index.css" rel="stylesheet" type="text/css" />

    <!-- favicons -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="static/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/assets/favicon-16x16.png">
    <link rel="manifest" href="static/assets/site.webmanifest"> -->
</head>

<body>
    <div id="main">

        <div id="title">The Safe Way</div>

        <div id="map">{{ iframe|safe }}</div>

        <div id="overlay">

            <div id="time_wrapper">
                <button id="prev_month" onclick="previousMonth()">◀</button>
                <div    id="current_date"><b>{{ date }}</b></div>
                <button id="next_month" onclick="nextMonth()">▶</button>
            </div>
            
            <button id="mode_change" onclick="changeMode()">Current Mode: <b>{{ mode }}</b></button>

            <form method="POST">
                <input name="from" id="from" autocomplete="off" placeholder="From..." /><!--  
             --><input name="to" id="to" autocomplete="off" placeholder="To..." />
                <input type="submit" id="submit" value="Find Route">
            </form>

        </div>

    </div>
    
    <script src="static/scripts/main.js"></script> 

</body>

</html>