:root {
  --border-rad: 0.5rem;
}

body, #main, #map, iframe { 
  width: 100vw !important;
  height: 100vh !important;
}

#main {
  position: relative;
}

#overlay {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 17.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  box-sizing: border-box;
}

#prev_month, #next_month {
  width: 20%;
}

#prev_month, #current_date, #next_month {
  /* background-color: brown; */
  border: 1px solid black;
  border-radius: 0;
  outline: none;
  height: 3rem;
  box-sizing: border-box;
}

#current_date {
  border-left: 0;
  border-right: 0;
  width: 60%;
  line-height: 3rem;
  text-align: center;
}

#time_wrapper {
  display: flex;
  margin-bottom: 0.5rem;
}

#mode_change {
  box-sizing: border-box;
  line-height: 3rem;
  height: 3rem;
  border-radius: 0;
  border: 1px solid black;
  width: 100%;
  margin-bottom: 0.5rem;
}

#from, #to, #submit {
  box-sizing: border-box;
  border-radius: 0;
  line-height: 3rem;
  height: 3rem;
  border: 1px solid black;
  outline: none;
  width: 100%;
  padding-left: 1rem;
}

#from {
  border-top-left-radius: var(--border-rad);
  border-top-right-radius: var(--border-rad);
}

#to {
  border-bottom-left-radius: var(--border-rad);
  border-bottom-right-radius: var(--border-rad);
}

#to {
  border-top: none;
}

#submit {
  margin-top: 0.5rem;
}

