:root {
  --border-rad: 0.5rem;
  --border-color: rgb(189, 189, 189);
  --border-hover: rgb(167, 167, 167);
  --border-highlight: rgb(71, 175, 255);
  --button-color: rgb(227, 250, 255);
  --button-hover: rgb(200, 233, 238);
  --button-active: rgb(161, 212, 221);
  --ui-background: rgb(235, 235, 235);
  --light-background: rgb(255, 255, 255);
}

#title {
  position: absolute;
  width: 60%;
  margin-left: 20%;
  line-height: 3rem;
  height: 3rem;
  font-weight: bold;
  top: 0;
  left: 0;
  z-index: 100;
  /* background-color: aquamarine; */
  text-align: center;
  font-size: 2rem;
  /* backdrop-filter: blur(10px); */
  background-color: var(--ui-background);
  border-radius: var(--border-rad);
  border: 1px solid var(--border-color);
  margin-top: 10px;
}

body, #main, #map, iframe {
  width: 100vw !important;
  height: 100vh !important;
}

input, #current_date {
  background-color: var(--light-background);
}

button, input[type="submit"] {
  background-color: var(--button-color);
}

button:hover, input[type="submit"]:hover {
  background-color: var(--button-hover);
}

button:active, input[type="submit"]:active {
  background-color: var(--button-active);
}

iframe {
  height: calc(100vh - 17.5rem) !important;
}

#main {
  position: relative;
}

#overlay {
  /* background-color: rgba(255, 255, 255, 0.446); */
  background-color: var(--ui-background);
  width: 100%;
  height: 17.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  box-sizing: border-box;
  border-top: 1px solid var(--border-color);
}

#prev_month {
  border-top-left-radius: var(--border-rad);
  border-bottom-left-radius: var(--border-rad);
}

#next_month {
  border-top-right-radius: var(--border-rad);
  border-bottom-right-radius: var(--border-rad);
}

#prev_month, #next_month {
  width: 20%;
}

#prev_month:hover, #next_month:hover {
  border-color: var(--border-hover);
}

#prev_month, #current_date, #next_month {
  border: 1px solid var(--border-color);
  outline: none;
  height: 3rem;
  box-sizing: border-box;
  font-size: 1rem;
}

#current_date {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  width: 60%;
  line-height: 3rem;
  text-align: center;
  font-size: 1rem;
}

#time_wrapper {
  display: flex;
  margin-bottom: 0.5rem;
}

#mode_change {
  box-sizing: border-box;
  line-height: 3rem;
  height: 3rem;
  border-radius: var(--border-rad);;
  border: 1px solid var(--border-color);
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

#mode_change:hover {
  border-color: var(--border-hover);
}

#from:hover, #to:hover {
  border-color: var(--border-hover);
}

#from:focus, #to:focus {
  border-color: var(--border-highlight);
}

#from:hover + #to {
  border-top-color: var(--border-hover);
}

#from:focus + #to {
  border-top-color: var(--border-highlight) !important;
}

#from, #to, #submit {
  box-sizing: border-box;
  border-radius: 0;
  line-height: 3rem;
  height: 3rem;
  border: 1px solid var(--border-color);
  outline: none;
  width: 100%;
  padding-left: 1rem;
  font-size: 1rem;
}

#from {
  border-top-left-radius: var(--border-rad);
  border-top-right-radius: var(--border-rad);
}

#to {
  border-bottom-left-radius: var(--border-rad);
  border-bottom-right-radius: var(--border-rad);
}

#from {
  border-bottom: none;
}

#submit {
  margin-top: 0.5rem;
  border-radius: var(--border-rad);
}

#submit:hover {
  border-color: var(--border-hover);
}
